
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div> 
        @{
            WebApplication3.Models.Employee emp = (WebApplication3.Models.Employee)ViewData["Employee"];
        }
        <b>
            Emplyee Details
        </b>
        <br/>
        Employee Name:@emp.FirstName @emp.LastName<br/>
        Employee Salary:@emp.Salary.ToString("C");
    </div>
</body>
</html>
